
p{ columns: rgba(40, 119, 192, 0.822);
    background-color: rgb(115, 222, 226);
}


a{
    color: black;
    background-color: rgb(115, 222, 226);
        ;
        display: inline-block
}


h2{
background-color: rgb(115, 222, 226);
display: inline;
}





li{
    background-color: rgb(247, 247, 140);
   display: block
}



.lojinha-da-mah{
    color: rgb(40, 119, 192);
    }


   