


#cabecalho{ 
    margin: 2px ;
    padding: 30px;
    
  }

body { color: blueviolet;
 background-color: blue;
}
  .inicio{
      color: rgb(7, 7, 7);
      background-color: rgb(204, 244, 247);  
      }






  #rodape{
    margin: 20px ;
    padding: 30px;
  }
   

    

    